/* styles.css */

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



/* header styling */

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    align-items: center;
    gap: 350px;

}

.logo {
    font-size: 24px;
    color: #F9F4F8;
}

ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    gap: 24px;
}

li {
    font-size: 18px;
    color: #E5E7EB;
}

/* hero styling */


.hero {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px 45px 24px;
    flex-wrap: wrap;
    gap: 10px;
    flex-shrink 1;
}

.hero-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 24px;
}

.hero-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
}

.hero-image-container {
    display: flex;
    align-self: center;
    justify-self: center;
    width: 50%;
}

.subtext {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    gap: 10px;
}





.heading {
    font-size: 35px;
    color: #F9FAF8;
    font-weight: extra-bold;
    margin-bottom: -5px;
}

.subtext {
    font-size: 15px;
    color: #E5E7EB;
}

.button {
    background-color: #3882F6;
    padding: 8px;
    color: #F9FAF8;
    font-weight: bold;
    display: flex;
    align-self: center;
}

img {
    max-width: 100%;
}





